/* *{
    background-color: black;
} */

.background{
    background-color: black;
}

.main{
    display: flex;
    align-items: center;
    background-color: black;
}
.sideBar{
    margin-right: 2rem;
}

.barChart{
    margin: 5rem;
    width:60vw;
    /* background-color: black; */
}

.button{
    background-color: aqua;
    color: blueviolet;
    margin-top: 2rem;
    margin-left: 25rem;
}